aside{
    background-color: orange;
    border: 1px solid black;
}  
    

.with-sidebar{
display: flex;
flex-wrap: wrap;
   
    background-color: lightgray;
    border: 1px solid black;
}
.sidebar{

    flex-basis: 16rem;
    height: auto;
    flex-grow: 1;
    border: 1px solid black
}

.not-sidebar{

    flex-basis:0;
    flex-grow: 999;
    height: auto;
    min-inline-size: 50%
    border: 1px solid
}

.wrapper{
    max-width: 50rem;
    height: auto;
    margin-right: auto;
    margin-left: auto; 
    border: 1px solid black;
    background-color:white;
} 

img{
    height: 25rem;
    border-radius: 50%;
    max-width: 100%;
}

h2 {
  color: #C62828; 
}

ul {
  list-style-type: square;
  padding-left: 1.5rem;
}

footer {
  text-align: center;
  background-color: #0047AB;
  color: white;
  padding: 0.5rem;
  margin-top: 5.1rem;
  
}


body {
  font-size: 13px; 
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 16px;
}

p, li {
  font-size: 13px;
}

footer p {
  font-size: 12px;
}
