aside{
    background-color: orange;
    border: 1px solid black;
}  
    

.with-sidebar{
display: flex;
flex-wrap: wrap;
   
    border: 1px solid black;
}
.sidebar{

    flex-basis: 16rem;
    flex-grow: 1;
    border: 1px solid black
}

.not-sidebar{

    flex-basis:0;
    flex-grow: 999;
    min-inline-size: 50;
    border: 1px solid
}

.wrapper{
    max-width: 56rem;
    margin-right: auto;
    margin-left: auto; 
    border: 1px solid black;
    background-color:white;
} 

img{
    height: 20rem;
    border-radius: 50%;
    max-width: 100%;
}